<div class="chat-wrapper">
  <!-- Contact List -->
  <aside class="sidebar">
    <button (click)="openModal()"
            style="padding: 12px 12px; background-color: #BE91BE; color: white; border: none; border-radius: 5px; cursor: pointer;">
      Create Chat
    </button>
    <h3>Chat</h3>

    <ul>
      <li *ngFor="let chat of chatListe" (click)="selectBenutzer(chat)">
        {{ chat.chatName}}
      </li>
    </ul>

    <button (click)="logout()"
            style="padding: 12px 12px; background-color: #e74c3c; color: white; border: none; border-radius: 5px; cursor: pointer; position: absolute; bottom: 20px;">
      Logout
    </button>
  </aside>

  <!-- Chat Area -->
  <main class="chat-area" *ngIf="selectedBenutzer">
    <header class="chat-header" style="display: flex; justify-content: space-between; align-items: center;">
      <h2>
        {{ selectedBenutzer?.benutzerName || getOtherParticipantName(selectedBenutzer) }}
      </h2>


    </header>

    <div class="messages">
      <div *ngFor="let msg of messages" [class.me]="msg.sender === 'me'">
        <span>{{ msg.text }}</span>
      </div>
    </div>

    <footer class="input-area">
      <input [(ngModel)]="newMessage" placeholder="Nachricht eingeben..." (keydown.enter)="sendMessage()" />
      <button (click)="sendMessage()">Senden</button>
    </footer>
  </main>
</div>

<!-- Modal -->
<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal">
    <h2>Neuen Chat erstellen</h2>

    <label>Anderer User: </label>
    <input [(ngModel)]="andererBenutzerName" placeholder="Anderer User" />

    <div class="modal-buttons">
      <button (click)="confirmCreateChat()">OK</button>
      <button (click)="closeModal()">Abbrechen</button>
    </div>

    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</div>

