<div class="chat-wrapper">
  <!-- Contact List -->
  <aside class="sidebar">
    <button (click)="openModal()"
            style="padding: 12px 12px; background-color: #BE91BE; color: white; border: none; border-radius: 5px; cursor: pointer;">
      Create Chat
    </button>

    <div class="welcome-banner" *ngIf="currentBenutzer">
      Willkommen, <span>{{ currentBenutzer }}</span> 👋
    </div>

    <h3>Chat</h3>

    <ul>
      <li *ngFor="let chat of chatListe" (click)="selectBenutzer(chat)">
        {{ chat.chatName}}
      </li>
    </ul>

    <button (click)="logout()"
            style="padding: 12px 12px; background-color: #e74c3c; color: white; border: none; border-radius: 5px; cursor: pointer; position: absolute; bottom: 20px;">
      Logout
    </button>
  </aside>

  <!-- Chat Area -->
  <main class="chat-area" *ngIf="selectedBenutzer">
    <header class="chat-header">
      <div class="chat-user-info">
        <div class="avatar">
          {{ getOtherParticipantName(selectedBenutzer).charAt(0).toUpperCase() }}
        </div>
        <div class="username">
          {{ selectedBenutzer?.benutzerName || getOtherParticipantName(selectedBenutzer) }}
        </div>
      </div>

      <div class="header-alert" *ngIf="showSuccess">
        <app-alert-box
          [message]="successMessage"
          [type]="'success'">
        </app-alert-box>
      </div>
    </header>


    <div class="messages" #messagesContainer>
      <div *ngFor="let msg of messages" [class.me]="msg.sender === 'me'">
        <span>{{ msg.text }}</span>
      </div>
    </div>

    <footer class="input-area">
      <!-- Eingabezeile + Emoji Button -->
      <div class="input-wrapper">
        <button (click)="toggleEmojiPicker()" class="emoji-toggle">😄</button>
        <input
          [(ngModel)]="newMessage"
          placeholder="Nachricht eingeben..."
          (keydown.enter)="sendMessage()" />
        <button (click)="sendMessage()">Senden</button>
      </div>

      <!-- Emoji Picker -->
      <emoji-picker
        #emojiPicker
        *ngIf="showEmojiPicker"
        style="max-width: 300px; margin-top: 10px;">
      </emoji-picker>
    </footer>



  </main>
</div>

<!-- Modal -->
<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal">
    <h2>Neuen Chat erstellen</h2>

    <label for="chat-user">Benutzername</label>
    <input id="chat-user" [(ngModel)]="andererBenutzerName" placeholder="Anderer Benutzername" />

    <div class="modal-buttons">
      <button class="confirm" (click)="confirmCreateChat()">Erstellen</button>
      <button class="cancel" (click)="closeModal()">Abbrechen</button>
    </div>

    <app-alert-box
      *ngIf="errorMessage"
      [message]="errorMessage"
      [type]="'error'">
    </app-alert-box>

  </div>
</div>


