<h1 class="hero-title">ACCOUNT ERSTELLEN</h1>

<div class="login-container">
  <!-- Login Formular -->
  <form>
    <label for="username">BENUTZERNAME:</label>
    <input type="text" id="username" />

    <label for="password">KENNWORT:</label>
    <input type="password" id="password" />

    <label for="username">KENNWORT WIEDERHOLEN:</label>
    <input type="text" id="password_wiederholen" />

    <button type="submit">REGISTRIEREN</button>
    <a href="#">PASSWORT VERGESSEN?</a>

    <hr />
  </form>
</div>

<app-footer></app-footer>
