<a [routerLink]="['/']"
   style="position: absolute; top: 20px; left: 20px; padding: 10px 16px; background-color: plum; font-weight: bold; color: white; border-radius: 5px; text-decoration: none; font-size: 14px;">
  ⬅ Home
</a>

<h1 class="hero-title">ACCOUNT ERSTELLEN</h1>

<div class="login-container">
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <label for="username">BENUTZERNAME:</label>
    <input
      type="text"
      id="username"
      name="benutzerName"
      [(ngModel)]="benutzerName"
      required
    />

    <label for="password">KENNWORT:</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      required
    />

    <label for="passwordConfirm">KENNWORT WIEDERHOLEN:</label>
    <input
      type="password"
      id="passwordConfirm"
      name="passwordConfirm"
      [(ngModel)]="passwordConfirm"
      required
    />

    <button type="submit" [disabled]="registerForm.invalid">
      REGISTRIEREN
    </button>
  </form>

  <p>{{ feedback }}</p>

  <hr />
</div>

<app-footer></app-footer>
